# oneshot startup service that waits for the temperature to be warm enough
# before continuing 

[Unit] 
Description=Wait until it is warm enough to turn on FPGA
Before=nuphase-acq.service nuphase-hk.service nuphase-copy.service 
Wants=dev-ttyUSB0.device
After=dev-ttyUSB0.device



[Service] 
EnvironmentFile=/etc/nuphase.cfg 
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/sh -c "exec ${NUPHASE_PATH}/nuphase-startup"

[Install] 
WantedBy=nuphase.target 
