[Unit]
Description=Record NuPhase data
Wants=nuphase-copy.service

[Service] 
EnvironmentFile=/etc/nuphase.cfg
Restart=always 
ExecStart=$NUPHASE_PATH/nuphase-acq 
ExecReload=/bin/kill -USR1 $MAINPID
