[Unit]
Description=Copy files to radproc

[Service] 
EnvironmentFile=/etc/nuphase.cfg 
Restart=always 
ExecStart=$NUPHASE_PATH/nuphase-copy 
ExecReload=/bin/kill -USR1 $MAINPID
