[Unit]
Description= NuPhase autonomous software
Wants = multi-user.target time-sync.target
After = multi-user.target time-sync.target
AllowIsolate = yes



