[Unit]
Description=Provide HouseKeeping Information
Wants=nuphase-copy.service 
Requires=nuphase-startup.service 

[Service] 
EnvironmentFile=/etc/nuphase.cfg 
Restart=always 
ExecStart=/bin/sh -c "exec ${NUPHASE_PATH}/nuphase-hk" 
ExecReload=/bin/kill -USR1 $MAINPID

[Install] 
WantedBy=nuphase.target 

